<%- include('./partials/header') %>
    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>
            <div class="w-full h-screen flex">
                <!-- Sidebar Navigation -->
                <div class="w-1/4 bg-gray-800 text-white h-full p-5">
                    <h2 class="text-2xl font-semibold mb-5"><a href="/owners/admin/panel"
                            class="block py-2 px-4 rounded hover:bg-gray-700">Admin Panel</a></h2>
                    <ul class="space-y-3">
                        <li>
                            <a href="/owners/admin/users" class="block py-2 px-4 rounded hover:bg-gray-700">Manage
                                Users</a>
                        </li>
                        <li>
                            <a href="/products/create" class="block py-2 px-4 rounded hover:bg-gray-700">Manage
                                Products</a>
                        </li>
                        <li>
                            <a href="/admin/orders" class="block py-2 px-4 rounded hover:bg-gray-700">Manage
                                Orders</a>
                        </li>
                        <li>
                            <a href="/admin/settings" class="block py-2 px-4 rounded hover:bg-gray-700">Settings</a>
                        </li>
                        <li>
                            <a href="/owners/admin/logout"
                                class="block py-2 px-4 rounded text-center w-40 bg-red-500 hover:bg-red-600 mt-10 ms-14">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- Main Content -->
                <main class="w-3/4 bg-gray-100 p-8 shadow ">
                    <h1 class="text-3xl font-bold mb-4">Create New Product</h1>
                    <form autocomplete="off" action="/products/create" method="post" enctype="multipart/form-data">
                        <div class="mb-6">
                            <h3 class="text-lg font-semibold mb-2">Product Details</h3>
                            <div class="mb-4">
                                <label class="block mb-2 font-medium">Product Image</label>
                                <input name="image" type="file" class="py-2 px-4 rounded" value="Select File">
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <input name="name" type="text" placeholder="Product Name"
                                    class="border p-2 rounded w-full">
                                <input name="price" type="text" placeholder="Product Price"
                                    class="border p-2 rounded w-full">
                                <input name="discount" type="text" placeholder="Discount Price"
                                    class="border p-2 rounded w-full">
                            </div>
                        </div>

                        <div>
                            <h3 class="text-lg font-semibold mb-2">Panel Details</h3>
                            <div class="grid grid-cols-2 gap-4">
                                <input name="bgcolor" type="text" placeholder="Background Color"
                                    class="border p-2 rounded w-full">
                                <input name="panelcolor" type="text" placeholder="Panel Color"
                                    class="border p-2 rounded w-full">
                                <input name="textcolor" type="text" placeholder="Text Color"
                                    class="border p-2 rounded w-full">
                            </div>
                        </div>
                        <input class="px-5 py-2 rounded mt-3 bg-blue-500 text-white" type="submit"
                            value="Create New Product">
                    </form>
                </main>
            </div>
            <%- include('./partials/footer') %>